@page
@model KioskoTIC.Pages.PresentacionModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Imagen.css" />

<br />
<center><h1>Presentación del Proyecto</h1></center>

<div class="container">
    <br />
    <br />
    <h4>Universidad: Universidad Tecnológica Metropolitana</h4>
    <br />
    <br />
    <h4>Materia: Aplicaciones Web</h4>
    <br />
    <br />
    <h4>Maestro: Uh Perez Oscar Josue</h4>
    <br />
    <br />
    <h4>Actividad: KioskoTIC(UTM)</h4>
    <br />
    <br />
    <h4>Integrantes:</h4>
    <br />
    <h5>- Ávila Ramayo Brandon Jefte</h5>
    <br />
    <h5>- Brek Mejia Samuel Alexander</h5>
    <br />
    <h5>- Paredes Ayala Guillermo Aldair</h5>
    <br />
    <br />
    <h4>Cuatrimestre: Mayo - Agosto</h4>
    <br />
    <br />
    <h4>Grado: 3 Grupo: B</h4>
    <br />
    <br />
    <h5>Para ir al ejectutable del proyecto haga click aqui: <a asp-page="/Login">Iniciar sesión</a> </h5>
    <br />
    <br />
</div>