@page
@model KioskoTIC.Pages.SobreNosotrosModel
@{
    Layout = "_Layout";
}

<br />
<center><h1>Sobre Nosotros</h1></center>

<div class="container">
    <br />
    <br />
    <h4>Universidad: Universidad Tecnológica Metropolinata</h4>
    <br />
    <br />
    <h4>Materia: Aplicaciones Web</h4>
    <br />
    <br />
    <h4>Maestro: Uh Perez Oscar Josue</h4>
    <br />
    <br />
    <h4>Actividad: KioskoTIC(UTM)</h4>
    <br />
    <br />
</div>

<div class="container">
    <div class="cards mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <center><img style="width:100%; height:100%;" src="~/img/Brandon.jpeg" class="card-img-top" alt="BrandonFoto"></center>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <br />
                    <br />
                    <h5 class="card-title">Ávila Ramayo Brandon Jefte</h5>
                    <br />
                    <br />
                    <p class="card-text">
                        Nacido el 30 de octubre año 2002 en el municipio de Mérida, Yucatán.
                        Brandon siendo un chico un tanto introvertido. A lo largo de su infancia demostró ser un chico diferente debió a su forma de ser y actuar esto siendo así por su diagnostico de TDAH, aún con eso Brandon no se detuvo buscando en la vida qué es lo que realmente le apasionaba y conforme los años pasaban; más difícil era para el encontrar esa pasión por algo, sin embargo, cuando fue admitido en la preparatoria, conoció las tecnologías de la información y comunicación una especialidad interesante enfocada en la programación y diseño de Aplicaciones Web y software. Con el transcurso del tiempo Brandon fue interesándose más y más en esta carrera en la que pronto ingresaría. Cuando el momento llegó, Brandon ya tenía una trayectoria fija de lo que quería en su vida y cómo lo lograría ingresando así en la UTM (Universidad Tecnológica Metropolitana) cumpliendo así la primera parte de su meta personal en la vida.
                        Pasatiempos/Gustos: Una persona de gustos simples, amante de los videojuegos y manualidades.
                        Le gusta expresarse de diversas maneras y demostrar el afecto que le tiene a sus seres queridos de una manera muy detallista.
                    </p>
                    <hr />
                    <p class="card-text">
                        Cuatrimestre: Mayo - Agosto
                    </p>
                    <p class="card-text">
                        Grado: 3 Grupo: B
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="cards mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <center><img style="width:100%; height:100%;" src="~/img/Samuel.jpeg" class="card-img-top" alt="SamuelFoto"></center>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <br />
                    <br />
                    <h5 class="card-title">Brek Mejia Samuel Alexander</h5>
                    <br />
                    <br />
                    <p class="card-text">
                        Nacido el año 2002 en el municipio de Mérida, Yucatán, Samuel creció como el más pequeño dentro de 3 hijos.
                        A lo largo de su infancia demostró gran interés y empatía en las personas que lo rodean. Gracias a la enseñanza de sus padres y ejemplo de sus hermanas Nalley y Jhoana Brek comenzó a interesarse mucho en los estudios y sobre todo las matemáticas. Fue aquel día en el que de adolescente, su obsequio de cumpleaños fue su primer celular. Con el transcurso de los años Samuel se percató del impacto que la tecnología tiene en la vida de todas las personas, incluso en la de él. Al entrar a la preparatoria, ya tenía en mente la carrera que quería estudiar y la trayectoria que seguiría de ahora en adelante. Mejoró sus habilidades en cálculo y comenzó a experimentar el mundo de la programación que tanto le había llamado la atención.
                        Pasatiempos/Gustos: Se ha declarado a sí mismo como una persona con gustos simples. Es un fanático de la comida chatarra que por otro lado aborrece los refrescos embotellados.
                        Utiliza el silencio como una barrera que impide el paso de los problemas y le permite vivir una vida pacífica y enfocada en lo que realmente le gusta.
                    </p>
                    <hr />
                    <p class="card-text">
                        Cuatrimestre: Mayo - Agosto
                    </p>
                    <p class="card-text">
                        Grado: 3 Grupo: B
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="cards mb-3">
        <div class="row no-gutters">
            <div class="col-md-3">
                <center><img style="width:100%; height:100%;" src="~/img/Guillermo.jpeg" class="card-img-top" alt="GuillermoFoto"></center>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <br />
                    <br />
                    <h5 class="card-title">Paredes Ayala Guillermo Aldair</h5>
                    <br />
                    <br />
                    <p class="card-text">
                        Nacido en el año 2002 en el municipio de Umán, Yucatán.
                        Él era un chico bastante curioso, pues obtuvo su primer computador a la edad de los 4 años, desde ese entonces se empezó a interesar más en la tecnología pero era algo inconsciente ya que desde pequeño quería ser piloto aviador. Esto cambió al entrar a la preparatoria pues desde que supo que tendría informática le interesó bastante, siempre destacó de entre sus compañeros ya que él sacaba muy notables calificaciones en la asignatura informática, siempre se le hizo sencillo el manejar aplicaciones del computador. En ese momento él tuvo en claro qué es lo que realmente le apasionaba, así que la trayectoria ya estaba lista y sólo faltaba seguir adelante. Se dio cuenta de lo interesante qué es el mundo de la programación y le llamó mucho la atención ya que él había cursado una materia de programación.
                        Gustos y Pasatiempos: Es una persona con afición a los vídeojuegos y se interesa mucho en la tecnología, tiene también una gran pasión por la música ya que muchas de las  canciones que ha escuchado han influido  a lo largo de su vida en algún sentido.
                        Fanático de la lucha libre profesional y su mayor sueño es presenciar un evento llamado Wrestlemania.
                    </p>
                    <hr />
                    <p class="card-text">
                        Cuatrimestre: Mayo - Agosto
                    </p>
                    <p class="card-text">
                        Grado: 3 Grupo: B
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>