@page
@model KioskoTIC.Pages.Divisiones.DetailsModel

@{
    ViewData["Title"] = "Detalles de las divisiones";
}

<center>
    <h1>Detalles de la división</h1>
</center>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Imagen
        </dt>
        <dd class="col-sm-10">
            <img width="150" src="~/img/@Html.DisplayFor(model => model.Division.ProfilePicture)" alt="Alternate Text" />
        </dd>
        <dt class="col-sm-2">
            Nombre de la division
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.NombreDivision)
        </dd>
        <dt class="col-sm-2">
            Descripcion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.DescripcionDivision)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Division.DivisionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
