@page
@model KioskoTIC.Pages.Divisiones.EditModel

@{
    ViewData["Title"] = "Editar datos de las divisiones";
}

<center>
    <h1>Editar datos de la división</h1>
</center>

<div class="row">
    <div class="Form">
        <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Division.DivisionId" />
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label">Imagen</label>
                    <input type="file" name="archivo" asp-for="Division.ProfilePicture" class="form-control" />
                    <span asp-validation-for="Division.ProfilePicture" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label">Nombre de la division</label>
                    <input name="NombreDiv" asp-for="Division.NombreDivision" class="form-control" />
                    <span asp-validation-for="Division.NombreDivision" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Descripcion</label>
                    <input name="DescripcionDiv" asp-for="Division.DescripcionDivision" class="form-control" />
                    <span asp-validation-for="Division.DescripcionDivision" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
