@page
@model KioskoTIC.Pages.Usuarios.CreateModel

@{
    ViewData["Title"] = "Agregar usuarios";
}

<center>
    <h1>Agregar usuarios</h1>
</center>

<hr />
<div class="row">
    <div class="Form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label">Nombre de usuario</label>
                    <input asp-for="Usuario.User" class="form-control" />
                    <span asp-validation-for="Usuario.User" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Contraseña</label>
                    <input asp-for="Usuario.Contrasenia" class="form-control" />
                    <span asp-validation-for="Usuario.Contrasenia" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label">Nombres y apellidos</label>
                    <input asp-for="Usuario.Nombre" class="form-control" />
                    <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Nivel del usuario</label>
                    <select asp-for="Usuario.NivelId" class="form-control" asp-items="ViewBag.NivelId"></select>
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-outline-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
